<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Bucket Objects</title>
</head>
<body>
    <h1>Objects in S3 Bucket "{{ bucket_name }}"</h1>
    <ul>
        {% for object in objects %}
            <li><a href="/logs?access_key={{ request.form['access_key'] }}&secret_access_key={{ request.form['secret_access_key'] }}&bucket_name={{ bucket_name }}&object_key={{ object['Key'] }}">{{ object['Key'] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
